<!-- header -->
<div class="header-top">
	<header>
		<div class="top-head ml-lg-auto text-center">
			<div class="row mr-0">

				<div class="col-lg-4">
				</div>
				<div class="col-md-3 col-4 sign-btn">
					<a href="#" data-toggle="modal" data-target="#exampleModalCenter">
						<i class="fas fa-lock"></i> Sign In</a>
				</div>
				<div class="col-md-3 col-4 sign-btn">
					<a href="#" data-toggle="modal" data-target="#exampleModalCenter2">
						<i class="fas fa-user"></i> Register</a>
				</div>
				<div class="search col-md-2 col-4">
					<div class="mobile-nav-button">
						<button id="trigger-overlay" type="button">
							<i class="fa fa-shopping-cart fa-2x  text-light" style="font-weight:1000;" aria-hidden="true"></i>
              <span class="cart-no">5</span>
						</button>
					</div>

					<!-- open/close 
					<div class="overlay overlay-door">
						<button type="button" class="overlay-close">
							<i class="fa fa-times" aria-hidden="true"></i>
						</button>
						<form action="#" method="post" class="d-flex">
							<input class="form-control" type="search" placeholder="Search here..." required="">
							<button type="submit" class="btn btn-primary submit">
                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
							</button>
						</form>
					</div>
				 open/close -->
				</div>
			</div>
		</div>
		<div class="clearfix"></div>
		<nav class="navbar navbar-expand-lg navbar-light">
			<div class="logo">
				<h1>
          <img src="../../assets/images/logo.png" style="max-height:60px" alt="logo">

					<a class="navbar-brand" href="index.html">
						<!-- <i class="fab fa-cloudversify"></i>  -->
            </a>
				</h1>
			</div>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon">
					<i class="fas fa-bars"></i>
				</span>

			</button>

			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav m-lg-auto text-center">
					<li class="nav-item active">
						<a class="nav-link" href="index.html">Home
							<span class="sr-only">(current)</span>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="features.html">Our Products</a>
					</li>
					<!-- <li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							Pages
							<i class="fas fa-angle-down"></i>
						</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdown">
							<a class="dropdown-item" href="about.html" title="">About Us</a>
							<a class="dropdown-item" href="projects.html" title="">Projects</a>
							<a class="dropdown-item" href="errorpage.html">404 error page</a>
						</div>
					</li> -->
					<li class="nav-item">
						<a class="nav-link" href="team.html">Team</a>
					</li>
					<!-- <li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							Pricing Pages
							<i class="fas fa-angle-down"></i>
						</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdown">
							<a class="dropdown-item" href="pricing.html"> Default</a>
							<a class="dropdown-item" href="pricing_light.html"> Light Version</a>
							<a class="dropdown-item" href="pricing.html"> Dark Version</a>
						</div>
					</li> -->
					<li class="nav-item">
						<a class="nav-link" href="contact.html">Contact</a>
					</li>
				</ul>

			</div>
		</nav>
	</header>
</div>
<!-- header -->