.cart-no
{
    position: absolute;
    min-width: 20px;
    min-height: 20px;
    border-radius: 50%;
    font-size: 18px;
    font-weight: bold;
    color: aqua;
    background-color: blue;
    text-align: center;
    top: -20px;
    right: 12px;
}